.shopContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  padding: 2px 10px;
  width: 100%;
  
}


.ProductPage {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 2rem;
  color: #2d3748;
  margin-bottom: 2rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
  color: #4a5568;
  font-weight: 500;
}

.input {
  padding: 0.75rem 1rem;
  border: 2px solid #e2e8f0;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: all 0.3s ease;
  max-width: 200px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.input:focus {
  outline: none;
  border-color: #4f46e5;
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.2);
}

.input:hover {
  border-color: #c7d2fe;
}

/* Стили для валидации */
.input:invalid {
  border-color: #f56565;
}

.input:invalid:focus {
  box-shadow: 0 0 0 3px rgba(245, 101, 101, 0.2);
}


@media (max-width: 768px) {
  .ProductPage {
    padding: 1rem;
  }
  
  .shopContainer {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }
  
  .input {
    max-width: 100%;
  }
}
