.myButton {
  margin: 3px;
 
}

.primary {
  background-color: rgb(147, 204, 128);
}

.primary:hover {
  background-color: #84a59d;
}

.danger {
  background-color: #f28482;
}

.danger:hover {
  background-color:  #e63946;
}

.success {
  background-color: rgb(106, 176, 0);
}

.success:hover {
  background-color: rgb(152, 212, 61);
}

.disabled {
  background-color: rgb(196, 196, 196);
  color: rgb(106, 106, 106);
  cursor: not-allowed;
}
.disabled:hover {
  background-color: rgb(196, 196, 196);
  color: rgb(106, 106, 106);
}
