.myButton {
  margin: 3px;
  font-size: 20px;
  padding: 4px;
 
}

.primary {
  background-color: #fee440;
}

.primary:hover {
  background-color: #b39c4b;
}

.danger {
  background-color: #f28482;
}

.danger:hover {
  background-color:  #e63946;
}

.success {
  background-color: #00afb9;
}

.success:hover {
  background-color: #0081a7;
}

.disabled {
  background-color: rgb(196, 196, 196);
  color: rgb(106, 106, 106);
  cursor: not-allowed;
}
.disabled:hover {
  background-color: rgb(196, 196, 196);
  color: rgb(106, 106, 106);
}
