.feedbackContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  /* gap: 20px; */
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 20px;
  /* max-width: 500px;
  margin: 50px auto; */
  background-color: #9ae6e9;
  /* text-align: center; */
}
.heading {
 margin-bottom: 40px;
  font-size: 42px;
  color: #595757;
}
.feedbackBtns {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.likeSection, .dislikeSection {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.resetSection {
  /* width: 100%;
  display: flex;
  justify-content: center; */
  margin-top: 20px;
}

.count {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  min-width: 30px;
  text-align: center;
}
