body {
background-color: #f5f5f5;
  color: #383737;
}

#root {
  /* прибиваем footer к низу и делаем адаптивным под размер контента в main */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* стандартные значения из vite */
  width: 100%;
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
  background-color: #f5f5f5;
}

h1 {
  color: rgb(56, 55, 55);
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #8f93d5aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  background-color: #ffffff;
  color: #383737;
  padding: 2em;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.read-the-docs {
  color: #888;
}
 /* 🌙 Тёмная тема 
@media (prefers-color-scheme: dark) {
  #root {
    background-color: #121212;
  }

  h1 {
    color: #ffffff;
  }

  .card {
    background-color: #1e1e1e;
    color: #f5f5f5;
  }

  .read-the-docs {
    color: #aaa;
  }
} */


